@model Person

<tr>
    <td>@Model.FirstName</td>
    <td>@Model.LastName</td>
    <td>
        @if (!string.IsNullOrWhiteSpace(Model.Email))
        {
            <a href="mailto:@Model.Email">@Model.Email</a>
        }
        else
        {
            @: No email
        }
    </td>
    <td>
        @if (Model.Function is not null)
        {
            <span class="badge text-bg-primary">@Model.Function.Name</span>
        }
        else
        {
            <span class="badge text-bg-light">No function</span>
        }
    </td>
    <td>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        <!-- Button trigger modal -->
        <button type="button"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#deleteModal"
                data-id="@Model.Id"
                data-type="deleteButton">
            Delete with modal
        </button>
    </td>
</tr>